main {
    background-color: #e4934c;
}
#content {
    display:block;
    padding: 2rem;
}

#btn-container {
    display: flex;
    margin-top: 5rem;
    justify-content: space-around;

}

h1, h2 {
    text-align:center;
    color: #7c142c;
    font-weight: bold;
}
