body {
    font-family: Roboto, sans-serif;
    background-color: #F4F3EF;
}
. header {
    background-color: #83828A;
    margin: 0px;
    border: 0px;
}

.title {
    margin: 0px;
}

main {
    background-color: #746C70;
}

#content {
    padding: 2rem;
}

#btn-container {
    display: flex;
    margin-top: 5rem;
    justify-content: space-around;

}

h1, h2 {
    text-align:center;
    color: #7c142c;
    font-weight: bold;
}

img {
    max-width: 200px;
}