@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
    font-family: Roboto, sans-serif;
    background-color: #F4F3EF;
    margin: 0;
}
.header {
    background-color: #83828A;
    font-size: 36px;
    color: #7c142c;
}

.title {
    margin: 0px;
}

main {
    background-color: #746C70;
    color:#F4F3EF;
}

#content {
    padding: 2rem;
}

#btn-container {
    display: flex;
    margin-top: 3rem;
    justify-content: space-around;

}
h2 {
    text-align:center;
}

#score-container {
    display: flex;
    justify-content: space-evenly;
    text-align:center;
}

.sign {
    font-size:80px;
    margin-bottom: 10px;
}

#man {
    padding-top: 15px;
}

.buttonsqr {
    width: 160px;
    height: 160px;
    border: none;
    text-align:center;
    display:inline-block;
    background-color: #83828A;
    font-size: 30px;
    border-radius: 8px;
    padding: 4px;
    color: #F4F3EF;
    cursor: pointer;
}

.buttonsqr:hover {background-color: #7c142c}

.buttonsqr:active {
  background-color: #1F2021;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.score-box {
    font-size: 30px;
}

.intro {
    font-size: 22px;
}

footer {
    display: flex;
    font-family: "Montserrat Medium";
    justify-content: space-between;
    background-color: #83828A;
    font-size: 18px;
    color: #7c142c;
    margin: 0;
    padding: 1rem;

}

h1 {
    font-family: "Montserrat Medium";
    max-width: 40ch;
    text-align: center;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }

  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: 30% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }